<h3>Lecture réglementaire d’un territoire (QGIS)</h3>
<p>
Cette animation illustre ma capacité à mobiliser des données complexes pour construire une lecture fine et réglementaire d’un territoire.
</p>

<video autoplay muted loop controls style="width:100%; border-radius:10px;">
<source src="cartographiecreations.mov" type="video/mp4">
Votre navigateur ne supporte pas la lecture de vidéos.
</video>

<p>
L'étude intègre notamment la visualisation de certaines normes du Plan Local d’Urbanisme (PLU), comme les haies protégées ou les espaces verts à préserver.
</p>

<div style="background: #e1f5fe; padding: 15px; border-radius: 10px; margin-top: 20px;">
<strong>Outils utilisés :</strong> QGIS, Plugins d'animation, Données IGN.
</div>
